
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Migrace DB</title>
		<meta name="description" content="">
		<meta name="author" content="">

    <!-- Le styles -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>
	</head>

	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" n:href="default">Migrace DB</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li {ifCurrent default}class="active"{/ifCurrent}><a n:href="default">Úvod</a></li>
							<li {ifCurrent structure}class="active"{/ifCurrent}><a n:href="structure">Aktivní struktura</a></li>
							<li {ifCurrent load}class="active"{/ifCurrent}><a n:href="load">Uložená struktura</a></li>
							<li {ifCurrent compare false}class="active"{/ifCurrent}><a n:href="compare">Porovnat s uloženou</a></li>
							<li {ifCurrent compare true}class="active"{/ifCurrent}><a n:href="compare true">Porovnat s aktuální</a></li>
						</ul>
					  </div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container">

      <!-- Example row of columns -->
			<div class="row">
				<div class="span12">
				<div n:foreach="$flashes as $flash" class="alert {$flash->type}">{$flash->message}</div>
				{include #content}
				</div>
			</div>

			<hr>

			<footer>

			</footer>

    </div> <!-- /container -->


	</body>
</html>
